/*Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*General*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri Light', 'Trebuchet MS', 'Arial';
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Calculator*/

.calculator__window {
    border: 1px solid #403f5c;
    box-shadow: 0 0 7px #605e8a;
}

    /*Calculator Header*/

.calculator__header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding-left: 0.3em;
}

.calculator__menu {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    height: 100%;
    align-items: center;
    grid-gap: 0.2em;
    padding: 0 0.3em;
}

.calculator__menu li:hover {
    font-weight: bold;
}

.calculator__menu_maximize:hover {
    text-shadow: 1px 0 0 rgb(255, 255, 255);
}

.calculator__header #pemdas,
.calculator__header #theme {
    display: none;
}

.calculator__menu_minimize {
    grid-column: 3;
}

.calculator__menu_maximize {
    grid-column: 4;
}

.calculator__menu_close {
    grid-column: 5;
}

.calculator__menu_pemdas,
.calculator__menu_icon {
    font-size: 0.8em;
    
}

.calculator__menu_pemdas {
    text-decoration: line-through;
}

#pemdas:checked + .calculator__menu_pemdas {
    text-decoration: none;
}

    /*Main Calculator Elements*/


.calculator__window,
.calculator__main,
.calculator__display,
.calculator__operators_top,
.calculator__operators_right,
.calculator__numbers {
    display: grid;
}



.calculator__window {
    background: rgb(52,51,65);
    background: -webkit-linear-gradient(180deg, #212133 20%, #232232, #343341, #4d4d57, #71717c, #a89e92 75%, #b1a59c 80%, #b19e97);
    background: -moz-linear-gradient(180deg, #212133 20%, #232232, #343341, #4d4d57, #71717c, #a89e92 75%, #b1a59c 80%, #b19e97);
    background: linear-gradient(180deg, #212133 20%, #232232, #343341, #4d4d57, #71717c, #a89e92 75%, #b1a59c 80%, #b19e97);
    width: 20em;
    height: 30em;
    grid-template-rows: 5% 1fr;
    position: absolute;
}

.calculator__main {
    grid: 25% repeat(5, 1fr) / repeat(4, 1fr);
}

        /*Calculator Display*/

.calculator__display {
    grid-row: 1;
    grid-column: 1 / 5;
    background-color: #fff;
    align-items: center;
    justify-items: end;
    padding: 0.7em 0;
    overflow: hidden;

    /*Prevent text from overflowing on the padding*/
    border-left: 1.7em solid transparent;
    border-right: 1.7em solid transparent;
}

.calculator__display_operation {
    color: #4d4d57;
    max-width: 100%;
    max-height: 80%;
    white-space: nowrap;
    height: 1em;
    transition: transform 0.2s ease-out;
}

.calculator__display_result {
    font-size: 2.5em;
    height: 1em;
}

.calculator__display_arrow_left,
.calculator__display_arrow_right {
    z-index: 1;
    position: absolute;
    top: 2.5em;
    padding: 0.2em 0.4em;
}

.calculator__display_arrow_left.hidden,
.calculator__display_arrow_right.hidden {
    visibility: hidden;
}

.calculator__display_arrow_right {
    right: 0;
}

    /*Calculator Keys*/

.calculator__main li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__operators_top,
.calculator__operators_right,
.calculator__numbers {
    align-items: center;
    justify-items: center;
    font-size: 1.5em;
}


.calculator__operators_top,
.calculator__operators_right,
.calculator__menu,
.calculator__menu_pemdas,
.calculator__menu_icon {
    color: #e6e1dc;
}

.calculator__operators_equal {
    background-color: #343341;
}

.calculator__operators_divide,
.calculator__operators_equal,
.calculator__operators_add,
.calculator__operators_substract,
.calculator__operators_erase {
    font-size: 1.3em;
}

.calculator__numbers {
    color: #535269;
}

.calculator__operators_top {
    grid-row: 2;
    grid-column: 1 / 5;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__numbers,
.calculator__operators_right {
    grid-template-rows: repeat(4, 1fr);
}

.calculator__numbers {
    grid-row: 3 / 7;
    grid-column: 1 / 4;
    background-color: #fff;
    grid-template-columns: repeat(3, 1fr);
}

.calculator__operators_right {
    grid-row: 3 / 7;
    grid-column: 4;
}

/*Effects on hover/keydown*/

.calculator__numbers li:hover,
.calculator__numbers li.keydown {
    background: #dadae4;
} 

.calculator__operators_top li:hover,
.calculator__operators_top li.keydown {
    background: #3e3d4d;
}

.calculator__operators_multiply:hover,
.calculator__operators_multiply.keydown {
    background: #51505f;
}

.calculator__operators_substract:hover,
.calculator__operators_substract.keydown {
    background: #6a6a7a;
}

.calculator__operators_add:hover,
.calculator__operators_add.keydown {
    background: #b1a9a2;
}

.calculator__operators_equal:hover,
.calculator__operators_equal.keydown {
    background: #403d58;
}

/*Calculator Display Modes*/

    /*Maximize*/
.calculator__window.maximize {
    width: 100%;
    height: 100%;
}

.calculator__main.maximize {
    font-size: 2em;
}

    /*Minimize*/
.calculator__window.minimize {
    height: auto;
    width: 20em;
    background: #212133;
    grid-template-rows: 1fr;
}

.calculator__main.minimize {
    display: none;
}

/*On smaller devices, the calculator takes up all the space*/

@media all and (max-device-width: 500px) and (max-device-height: 800px) {
    .calculator__window {
        width: 100%;
        height: 100%;
    }
}